body {
    background: #928383;
    color: rgb(0, 0, 0);
    font-family: Arial;
}

img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}